
body{
    font-family: 'Black Han Sans', sans-serif;
    height: 70vw;
    margin: 0;
    padding: 0;
}


.layout-1{
    margin: 0 auto;
}

.swipers{
    display: flex;
    position: relative;
    width: 70vw;
    justify-content: center;
    align-items:center;
    bottom: 300px;

}
.swipers>.swiper {
    /* position: absolute; */
    left: 340px;
    display: flex;
    width: 100%;
    height: 400px;
    /* margin-bottom: 100px; */
  }
  .swipers>.swiper>.swiper-wrapper>.swiper-slide>img{
    width: 100%;
    height: 470px;
  }
.wrapper{
    height: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 80vw;
    /* font-family: Arial, Helvetica, sans-serif; */
    margin: 0;
    padding: 0;
}
.wrapper>header{
    position: relative;
    left:  200px;
    background-color: rgb(203, 203, 173);
    width: 100%;
    height: 26vw;
}
.wrapper>header>.top-header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LEFT */
.wrapper>header>.top-header>.left>a{

    position: relative;
    left: 4vw;
    top: 1vw;
}
.wrapper>header>.top-header>.left>a>img{
    width: 8vw;
    height: 8vw;
}

/* CENTER */

.title{
    position: relative;
    width: 100%;
    height: 100%;
    right: 70px;
    align-items: center;
    color: rgb(41, 75, 82);
    font-size: 4vw;
}

/* RIGHT */
.wrapper>header>.top-header>.right>a{
    color: aquamarine;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 1.2rem;
}

.btn{
    background-color:rgb(41, 75, 82);
    color: rgb(203, 203, 173);
    font-weight: 700;
    border-radius: 30px;
}

.deae{
    height: 100%;
    width: 100%;
}
/* Under-head */
.wrapper>header>.under-head{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.wrapper>header>.under-head>span{
    position: relative;
    font-size: 50px;
}
.wrapper>header>.under-head>input{
    position: relative;
    height: 3vw;
}
.wrapper>header>.under-head>input:nth-child(1){
  outline: none; 
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 2px solid; 
  border-width: 5px; 
  border-color: rgb(41, 75, 82); 
  border-right-width: 2px;
}
.wrapper>header>.under-head>input:nth-child(2){
    outline: none; 
    border: 2px solid; 
    border-width: 5px; 
    border-color: rgb(41, 75, 82);
}
.wrapper>header>.under-head>input:nth-child(3){
    outline: none; 
    border: 2px solid; 
    border-width: 5px; 
    border-left-width: 1px;
    border-color: rgb(41, 75, 82);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* db-head */
.wrapper>header>.db-head{
    font-size: 3rem;
    font-weight:900;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}
.wrapper>header>.db-head>.lodge{
    width: 100vw;
    height: 50vw;
    font-size: 2.5rem;
}
.wrapper>header>.db-head>.lodge:nth-child(1){
    position: absolute;
    width: 10vw;
    height: 5vw;
    top: 300px;
    left: 20%;
}
.wrapper>header>.db-head>.lodge:nth-child(2){
    position: absolute;
    width: 10vw;
    height: 5vw;
    left: 66%;
    top: 300px;
}
.wrapper>header>.db-head>div>a{
    text-decoration: none;
    color: rgb(41, 75, 82);
}
.tool-bar{
    z-index: 10;
    color: rgb(203, 203, 173);
    background-color: #384853;
    position: absolute;
    width: 80vw;
    height: 270px;
    margin: 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    visibility: hidden;
    opacity: 1;
    transition : height 0.3s ease,opacity 0.3s ease, visibility 0.3s ease, transform 1s ease;

}
.tool-bar>ul{
    padding: 5px;
    width: 60vw;
    height: 100%;
    font-size: 1.8rem;
}
.tool-bar>ul:nth-child(1){
    margin-left: 1vw;
}
.tool-bar>ul:nth-child(2){
    margin-right: 3vw;
}

/* main */

.wrapper>.main{
    position: relative;
    width: 100%;
    margin-top: 300px;
    font-size: 1.7rem;
    display: flex;
    justify-content: space-around;
}
.wrapper>.main>div{
    z-index: 10;
    background-color:rgb(203, 203, 173);
    width: 30%;
    text-align: center;
}
.wrapper>.main>div>a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(41, 75, 82);

}
.wrapper>.main>div:nth-child(1){
    left: 400px;
    position: absolute;
}
.wrapper>.main>div:nth-child(2){
    position: absolute;
    right :0%;
}
.wrapper>.main-under{
    position: relative;
    right: 50px;
    display: flex;
    width: 100%;
    height: 100%;
}



.body-bottom{
    left: 220px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 2열 설정 */
    grid-template-rows: repeat(4, 1fr);
    top: 500px;
    position: absolute;
    width: 80vw;
    column-gap: auto;
    row-gap: 100px;
    height: 100%;
    justify-content: center;
}
.body-bottom>.card{
    position: relative;
    top: 500px;
    left: 80px;
    text-align: center;
    justify-content: center;
    text-align: center;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: 1.3rem;
    height: 300px;
    width: 18rem;
}
.card-body{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
}
.card>img{
    border: 0.7px solid;

}
footer {
    position: absolute; /* 항상 화면 하단에 고정 */
    bottom: 0;
    background-color: #384853;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
    width: 100%;
    z-index: 1000; /* 다른 요소 위에 고정 */
    margin-top: 0; /* 불필요한 여백 제거 */
    justify-content: center;
}

footer p {
    margin: 5px 0;
}
.db-head:hover ~ .tool-bar{
    opacity:1;
    visibility: visible;
    height: 270px;
    width: 100%;
    }
.tool-bar:hover{
    opacity:1;
    visibility: visible;
    height: 270px;
    width: 100%;
        }