@font-face {
  font-family: BlackHansans-Regular;
  src: url("/Font/BlackHanSans-Regular.ttf");
}
body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}
* {
  font-family: BlackHansans-Regular;
  text-decoration: none;
  padding: 0;
}
.layout-1 {
  padding: 0 10%;
}
a {
  color: black;
}
ul {
  list-style: none;
}
input {
    width:10vw;
  height: 45px;
  border: none;
  margin-left: 20px;
  font-size: 1.5rem;
}
select{
    width:5vw;
    font-size: 1.5rem;
    border: none;
}
/*  */
@media screen and (max-width:1024px){
  .wrapper > main > section > .info> .info_top {
    /* display: none; */
    border-bottom:none !important;
  }
  .info_bottom{
    border:none;
    display: none;
  }
  .name{
    display: none;
  }
  .info{
    position: relative;
    display: inline-block;
  }
  .reserve{
    top:15%;
    right:0;
    position: absolute;
  }

}
@media screen and (max-width:600px){
  .info_top{
    display: none !important;
  }
  .mid-header{
    display: none !important;
  }
  .footer-left{
    display: none;
  }
  .footer-right{
    position: absolute;
    right:0; 
  }
}
/*  */
.wrapper {
  margin: 0 auto;
}
.wrapper > header {
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #cbcbad;
}

/* top-header  */
.wrapper > header > .top-header {
  height: 100px;

  display: flex;
  justify-content: space-between;
}
.wrapper > header > .top-header > div:nth-child(2) {
  margin-right: 50px;
}
.wrapper > header > .top-header > .logo {
  margin-left: 60px;
}
.wrapper > header > .top-header > .logo > a > img {
  height: 100%;
}
.wrapper > header > .top-header > div:nth-child(2) {
  font-size: 3rem;
  margin-top: 30px;
}
.wrapper > header > .top-header > div:nth-child(2) > a {
  color: #294b52;
}
.wrapper > header > .top-header > a > .sign {
  width: 100px;
  height: 37px;
  background-color: #8eb988;
  border-radius: 15px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* mid-header 검색 창 부분 */
.wrapper > header > .mid-header {
  height: 64px;
  width: 40vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  border: 1.5px solid;
  border-radius: 20px;
  font-size: 1.5rem;
  color: #294b52;
}
.mid-header>input:first-child{
    width:13vw;
}
.mid-header>div{
    width:10vw;
    height:100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.mid-header>div>input{
    font-size: 1rem;
    margin: 0;
}
.mid-header>a{
    padding-right:3%;
}

/* bottom-header 숙소 구분메뉴 부분 */
.wrapper > header > .bottom-header {
  height: 100px;
  margin-bottom: 30px;
}

.wrapper > header > .bottom-header > nav {
}
.mainmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.mainmenu > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainmenu>li:nth-child(1){
    padding-left:500px;
}
.mainmenu>li:nth-child(2){
    padding-right:500px;
}

.mainmenu:hover>li .submenu{
    opacity: 1;
    visibility: visible;
    max-height: 500px;
}
.mainmenu > li > a {
  color: #294b52;
}
.submenu {
    width:50vw;
  font-size: 2rem;
  background-color: #c5c2af;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0.8;
  overflow: hidden;
  z-index: 10;
  visibility: hidden;
  max-height: 0;
  transition:.5s;

}


/* main 페이지 */
.wrapper > main {
  background-color: white;
}
.wrapper > main > section {
  height: 300px;
  display: flex;
  justify-content: space-between;
}
/* 숙소 이미지 */
.wrapper > main > section > .image {
  width: 10%;
  height: 100%;
  padding: 80px 100px;
}
.wrapper > main > section > .image > a > img {
  width: 200px;
  height: 200px;
}

/* 숙소 이름,정보 info_top */
.wrapper > main > section > .info {
  width: 75vw;
  height: 100%;
  padding-right: 80px;
}
.wrapper > main > section > .info > .info_top {
  width: 100%;
  height: 150px;
  border-bottom: 2px solid;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.wrapper > main > section > .info > .info_top > .name {
  font-size: 2.5rem;
}
.wrapper > main > section > .info > .info_top > .reserve ul {
  font-size: 1.3rem;
}
.wrapper > main > section > .info > .info_top .reserve_button {
  width: 190px;
  height: 72px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer {
  width:70%;
  background-color: #384853;
  color: white;
  text-align: center;
  font-size: 0.8em;  

  padding: 10px;
  margin:100px auto 0;
  


}

footer p {
  margin: 5px 0;
}






/* ------------------------------------- */
/* .wrapper > footer {
    background-color: #d9d9d9;
    height: 300px;
  }
.wrapper>footer>.footer{
    display: flex;
    justify-content: space-between;
}
.policy{
    display: flex;
    justify-content: left;
    align-items: center;
}
.policy li{
    padding:10px 40px;
}
.footer>.logo{
}
.footer>.logo>a>img{
    width:300px;
    height: 300px;
}
 */
